<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>280801246045-1v23e5dtki9cg150olojh5tprnuqkgkd.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.280801246045-1v23e5dtki9cg150olojh5tprnuqkgkd</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>280801246045-2ugtld74o3ae6ck13oa89b40l8j9hm0f.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyDaJWI01ivMg-Um-41zCvdp4bdklPDS9as</string>
	<key>GCM_SENDER_ID</key>
	<string>280801246045</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.danhdue.stackedStateMamagement.stg</string>
	<key>PROJECT_ID</key>
	<string>ssmsample-staging</string>
	<key>STORAGE_BUCKET</key>
	<string>ssmsample-staging.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:280801246045:ios:972bc425ab02a3ad9d86b4</string>
</dict>
</plist>